@import 'utilities.css';
:root{
    --primary:#3DCFD3;  
    --dark:#161616;       
    --pure:#FFFFFF;      
    --Ternary:#898989;
    --light:#F2F2F2;

}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
   
}
Body{
    font-family: 'Poppins', sans-serif;
}
header{
    background:var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%,0 100%);
    
}
.container{
    max-width: 1200px;
    padding: 0 15 px;
    margin: 0 auto;
}
header nav .left a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
header nav .left a:hover{
    color: var(--primary);
    transition: all .3s ease;
}

header nav {
    padding: 2rem 0;
}
header nav .branding {
    margin-right: 3rem;
}
header nav a{
    margin: 0 1.2rem;
}
.hero{
    padding: 3rem 0;
}
.hero .left img  {
    /* float: left; */
    margin-bottom: 10rem;
    width: 600px;
    height: 600px;
    padding: -3rem 0 3rem 0;
}
.hero .right {
    color:var(--pure);
    padding: 4rem 0;
}
.hero .right h6{
      font-size: 1.6rem;
      color:var(--primary);
      margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color:var(--primary); 
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

