.flex {
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-around;
}
.btn{
    font-size: 1rem;
    padding: 0.8rem 3rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
  
}
.btn-primary{
    background: var(--primary);
    color:var(--dark);
}
.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color:var(--primary);

}